.top-icon-sytle {
    color: #fc9f3e;
    /* border-radius: 50%; */
    width: 12.5px; /* Fixed width */
    height: 14px; /* Fixed height */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header-navbar-text:hover {
    color: #fc9f3e;
}

/* Remove Bootstrap default caret */
.custom-dropdown .dropdown-toggle::after {
    display: none !important;
    color: #fc9f3e !important;
}

/* Change text color on hover */
/* .custom-dropdown .dropdown-toggle:hover {
    color: #f3e4d3 !important;
} */
